<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
	       <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XLocate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XLocate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
 </configSections>
	<appSettings>
	</appSettings>
 <applicationSettings>
  <XLocate.Properties.Settings>
   <setting name="xmap" serializeAs="String">
    <value>http://127.0.0.1:50010/xmap/ws/XMap</value>
   </setting>
   <setting name="xlocate" serializeAs="String">
    <value>http://127.0.0.1:50020/xlocate/ws/XLocate</value>
   </setting>
   <setting name="SEARCH_BINARY" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SEARCH_PHOETIC" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SEARCH_FUZZY" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="STREET_RETURNALLHNR" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CITY_RETURNALLCITY2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MULTIWORDINDEX_ENABLE" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="POSTCODE_AGGREGATE" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="INTERSECTIONS_ENABLE" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SearchOptions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReverseSearchOptions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CallerContextProperties" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ENGINE_TOLERANCE" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ENGINE_TARGETSIZE" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="RESULT_LANGUAGE" serializeAs="String">
    <value>DEF</value>
   </setting>
   <setting name="RevRESULT_LANGUAGE" serializeAs="String">
    <value>DEF</value>
   </setting>
   <setting name="COUNTRY" serializeAs="String">
    <value>L</value>
   </setting>
   <setting name="STATE" serializeAs="String">
    <value />
   </setting>
   <setting name="POSTCODE" serializeAs="String">
    <value>5447</value>
   </setting>
   <setting name="CITY" serializeAs="String">
    <value>Wellenstein</value>
   </setting>
   <setting name="CITY2" serializeAs="String">
    <value />
   </setting>
   <setting name="STREET" serializeAs="String">
    <value>Rue de la Moselle</value>
   </setting>
   <setting name="HOUSENR" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="LOCATION_Y" serializeAs="String">
    <value>6372253.889732955</value>
   </setting>
   <setting name="LOCATION_X" serializeAs="String">
    <value>681426.23948316672</value>
   </setting>
   <setting name="HNR_OFFSET" serializeAs="String">
    <value />
   </setting>
   <setting name="Profile" serializeAs="String">
    <value>default</value>
   </setting>
   <setting name="CoordFormat" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ASTERISKMODE" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="COUNTRY_CODETYPE" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="SWAPANDSPLITMODE" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="STREET_HNRPOSITION" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RevCOUNTRY_CODETYPE" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="ResponseGeometry" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="ENGINE_FILTERMODE" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="displayMap" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="REQUEST_ADDFITIONALFIELDS" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CallerContext_Log1" serializeAs="String">
    <value>PTVXLocate Testclient</value>
   </setting>
   <setting name="CallerContext_Log2" serializeAs="String">
    <value />
   </setting>
   <setting name="CallerContext_Log3" serializeAs="String">
    <value />
   </setting>
   <setting name="ENGINE_SEARCHDETAILLEVEL" serializeAs="String">
    <value />
   </setting>
   <setting name="ENGINE_SEARCHRANGE" serializeAs="String">
    <value />
   </setting>
   <setting name="UseNewFields" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MapProfile" serializeAs="String">
    <value>default</value>
   </setting>
   <setting name="ADDRESS" serializeAs="String">
    <value>76131 Karlsruhe, Stumpfstr. 1</value>
   </setting>
  </XLocate.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <XLocate.Properties.Settings>
   <setting name="SINGLE_FIELD_SEPARATORS" serializeAs="String">
    <value>,</value>
   </setting>
   <setting name="XYNLAYER_PRIORITY" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="XYNLAYER_NAME" serializeAs="String">
    <value>XYN_LAYER</value>
   </setting>
   <setting name="RESULTADDRESSLAYER_NAME" serializeAs="String">
    <value>ResultAddress</value>
   </setting>
   <setting name="RESULTADDRESS_PRIORITY" serializeAs="String">
    <value>1001</value>
   </setting>
   <setting name="XYNLAYER_LINECOLOR" serializeAs="String">
    <value>#00FFFF</value>
   </setting>
   <setting name="XYNLAYER_LINEWIDTH" serializeAs="String">
    <value>-2</value>
   </setting>
   <setting name="XYNLAYER_LINEALPHA" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="XYNLAYER_VISIBLE" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="COMBINEDTRANSPORTLAYER_PRIORITY" serializeAs="String">
    <value>1001</value>
   </setting>
   <setting name="COMBINEDTRANSPORTLAYER_NAME" serializeAs="String">
    <value>CombinedTransport</value>
   </setting>
   <setting name="COMBINEDTRANSPORTLAYER_LINEWIDTH" serializeAs="String">
    <value>-2</value>
   </setting>
   <setting name="COMBINEDTRANSPORTLAYER_TRANSPARENCY" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="COMBINEDTRANSPORTLAYER_START" serializeAs="String">
    <value>flaggreen.bmp</value>
   </setting>
   <setting name="COMBINEDTRANSPORTLAYER_DESTINATION" serializeAs="String">
    <value>flagred.bmp</value>
   </setting>
   <setting name="xmap_username" serializeAs="String">
    <value>xtok</value>
   </setting>
   <setting name="xmap_password" serializeAs="String">
    <value>706412336551701</value>
   </setting>
   <setting name="xlocate_username" serializeAs="String">
    <value>xtok</value>
   </setting>
   <setting name="xlocate_password" serializeAs="String">
    <value>706412336551701</value>
   </setting>
  </XLocate.Properties.Settings>
 </userSettings>
</configuration>